.clear-filter[filter-color="blue"] {
    background: rgba(4, 1, 56, 0.9);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(54, 54, 58, 0.1), rgba(4, 1, 56, 0.98));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(54, 54, 58, 0.1), rgba(4, 1, 56, 0.98));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(54, 54, 58, 0.1), rgba(4, 1, 56, 0.98));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(54, 54, 58, 0.1), rgba(4, 1, 56, 0.95));
    /* Standard syntax */
  }

  [data-background-color="blue"] {
    background-color: #030852;
  }

  .bg-primary {
    background-color: #030852 !important;
  }